<p id="notice"><%= notice %></p>
<%#= stylesheet_link_tag 'spaces' %>

<h1 class = "spaces_title">Spaces</h1>

<div class = "flex-container cards">
<% @spaces.each do |space| %>
    <div class = "flex-container-column card">
		<div><img src=<%=space.image %> height="100%" width="100%"></div>
		<div ><%= space.name %></div>
    	<div><%= space.description %></div>
		<div class = "manageCard">
    		<button><%= link_to 'Show', space %></button>
    		<button><%= link_to 'Edit', edit_space_path(space) %></button>
    		<button><%= link_to 'Destroy', space, method: :delete, data: { confirm: 'Are you sure?' } %></button>
		</div>
	</div>
<% end %>

</div>
<br>

<%= link_to 'New Space', new_space_path %>



